.cardList {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: var(--desktop-margin);

  @container style(--is-mobile: true) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    justify-content: center;
    align-items: stretch;
  }

  .badgeContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: var(--md-margin) 0px;
    gap: var(--small-margin);
  }
}
