@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
}

.bottomBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;

  .directionButtons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: var(--md-margin);

    &[dir="rtl"] {
      flex-direction: row-reverse;
      justify-content: flex-end;
    }
  }

  .statusMessage {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: var(--md-margin);

    span {
      animation: blink 1.2s 5 forwards ease-in-out;

      @media (prefers-reduced-motion: reduce) {
        animation: none;
      }
    }
  }

  svg {
    width: clamp(24px, 2.34vw, 48px);
    height: auto;
    fill: var(--paper);
  }
}
