.hero {
  height: 50dvh;

  .textArea {
    .eyebrow {
      margin-bottom: var(--md-margin);
    }

    h1 {
      margin-bottom: var(--md-margin);
    }

    .heroRole {
      margin-bottom: var(--lg-margin);
    }

    .heroTag {
      margin-bottom: var(--lg-margin);
    }

    p {
      text-wrap: balance;
    }
  }
}
