.messageForm {
  background-color: var(--block);
  border: var(--block-border);
  border-radius: clamp(7px, 0.68vw, 12px);
  padding: var(--desktop-margin);
  width: 90dvw;
  min-width: fit-content;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: clip;

  @container style(--is-desktop: true) {
    width: 50dvw;
    height: 50dvh;
  }

  .titleBar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: var(--desktop-margin);
    text-wrap: balance;

    h2,
    span {
      width: 33.33333334%;
    }

    h2 {
      text-align: center;
    }

    span {
      display: inline-flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;

      svg {
        width: clamp(24px, 2.34vw, 48px);
        height: auto;
        fill: var(--paper);
      }
    }
  }

  .inputsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }

  input,
  textarea {
    margin-bottom: var(--md-margin);
  }

  .track {
    position: absolute;
    top: -9999px;
    left: -9999px;
    height: 0px;
    overflow: hidden;
  }
}
