.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  background-color: transparent;
  z-index: -20;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition:
  background-color 0.5s ease-in-out,
  opacity 0.5s ease-in-out,
  z-index 0.5s ease-in-out,
  visibility 0.5s ease-in-out;

  &[data-modal-open="true"] {
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 20;
    visibility: visible;
  }

  div {
    &[aria-modal="false"] {
      transition: opacity 0.5s ease-in-out;
      opacity: 0;
    }

    &[aria-modal="true"] {
      transition: opacity 0.5s ease-in-out 0.5s;
      opacity: 1;
    }
  }
}
