@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.contentSection {
  gap: var(--desktop-margin);

  b {
    color: var(--paper);
    font-weight: 600;
  }

  &[data-visible="false"] {
    opacity: 0;

    @media (prefers-reduced-motion: reduce) {
      opacity: 1;
    }
  }

  &[data-visible="true"] {
    animation: fadeIn 0.75s ease-in-out forwards;
    li:has(progress) {
      opacity: 0;
      animation: fadeIn 0.3s ease-in-out forwards;
      animation-delay: calc(var(--i, 1) * 0.1s);
    }

    @media (prefers-reduced-motion: reduce) {
      animation: none;
    }
  }
}
