@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fillProgress {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

.contentSection {
  gap: var(--desktop-margin);

  b {
    color: var(--paper);
    font-weight: 600;
  }

  &[data-visible="false"] {
    opacity: 0;

    @media (prefers-reduced-motion: reduce) {
      opacity: 1;
    }
  }

  &[data-visible="true"] {
    animation: fadeIn 0.75s ease-in-out forwards;
    li:has(progress) {
      opacity: 0;
      animation: fadeIn 0.3s ease-in-out forwards;

      /**
      * Once FireFox supports it, a one liner should be able to do it:
      *   animation-delay: calc(sibling-index() * 0.1s);
      * istead of passing a variable.
      * https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Values/sibling-index
      * https://caniuse.com/?search=css-sibling-index
       */
      &:nth-child(1) { --index: 1; }
      &:nth-child(2) { --index: 2; }
      &:nth-child(3) { --index: 3; }
      &:nth-child(4) { --index: 4; }
      &:nth-child(5) { --index: 5; }
      &:nth-child(6) { --index: 6; }
      &:nth-child(7) { --index: 7; }
      &:nth-child(8) { --index: 8; }
      &:nth-child(9) { --index: 9; }
      &:nth-child(10) { --index: 10; }
      &:nth-child(11) { --index: 11; }
      &:nth-child(12) { --index: 12; }
      animation-delay: calc(var(--index, 1) * 0.1s);

      progress {
        &::-moz-progress-bar,
        &::-webkit-progress-value {
          transform-origin: left;
          transform: scaleX(0);
          animation: fillProgress 0.6s ease-in-out forwards;
          animation-delay: calc(var(--index, 1) * 0.1s);

          @media (prefers-reduced-motion: reduce) {
            animation: none;
            transform: none;
          }
        }
      }
    }

    @media (prefers-reduced-motion: reduce) {
      animation: none;
    }
  }
}
