.panel {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border: 1px solid var(--window);
  border-radius: clamp(7px, 0.68vw, 12px);
  background-color: var(--block);
  padding: 6px;

  .content {
    width: 100%;
    height: 100%;
    border: 1px solid var(--block-border);
    border-radius: clamp(7px, 0.68vw, 12px);
    padding: clamp(20px, 1.95vw, 24px);

    .topBar {
      margin-bottom: var(--desktop-margin);
    }

    .barsContainer {
      width: 100%;
      list-style-type: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: var(--md-margin);
      margin-bottom: var(--desktop-margin);
    }

    p {
      width: 100%;
      text-align: start;
      word-break: break-word;
      line-height: 150%;

      strong {
        color: var(--paper);
      }
    }
  }
}
