.inputOrTextarea {
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: var(--md-margin);
  position: relative;

  &[data-text-area="true"] {
    display: flex;
  }

  @container style(--is-desktop: true) {
    flex-direction: row;
  }

  label {
    width: 10%;
    min-width: 130px;
    flex-shrink: 0;
    text-transform: uppercase;
  }

  input,
  textarea {
    width: 100%;
    border-radius: clamp(7px, 0.68vw, 12px);
    padding: var(--md-margin);
    border: none;
    outline-color: var(--window);

    &[data-error="true"] {
      outline: 2px solid var(--signage);
      outline-offset: 2px;
    }
  }

  .inputContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    textarea {
      resize: none;
    }
  }
}

.errorBubble {
  position: absolute;
  right: 0;
  top: 0;
  max-width: 100%;
  overflow: clip;
  text-align: start;
  text-overflow: ellipsis;
  color: var(--signage);
  transform: translateY(-50%);
  background: var(--block);
  padding: var(--small-margin);
  border: 1px solid var(--signage);
  border-radius: clamp(7px, 0.68vw, 12px);
  font-size: clamp(14.4px, 1.4063vw, 21.6px);
  font-weight: 400;
  font-family:
    "Inter",
    system-ui,
    -apple-system,
    sans-serif;

  &[data-error-message=""] {
    display: none;
  }

  &::before {
    content: attr(data-error-message);
  }
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
